body {
  text-align: center;
  background-color: #7C83FD;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.bton {

  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  padding-bottom: 5px;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.row{
display: block;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2D2424;
  color: white;
}
.icon{
  margin: 10px 20px;
}
